.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  .container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  .container a {
    text-decoration: none;
  }

  .cell1 {
      background-color: #b71c1c;
      height: 100px;
  }

  .cell2 {
      background-color: #7b1fa2;
      height: 100px;
  }

  .cell3 {
      background-color: #194d33;
      height: 100px;
  }

  .cell4 {
      background-color: #e65100;
      height: 100px;
  }

